/* calendario-custom.css */

.react-calendar {
  width: 100%;
  border: none;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #1f2937; /* text-gray-800 */
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-weight: 600;
  color: #1f2937;
  font-size: 1rem;
}

.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #9ca3af;
}

.react-calendar__tile {
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 500;
  transition: background 0.3s ease;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile--active {
  background-color: #0B91C1;
  color: white;
}

.react-calendar__tile.disponible {
  background-color: #bbf7d0 !important; /* verde claro */
  border-radius: 0.5rem;
}

.react-calendar__tile.no-disponible {
  background-color: #fecaca !important; /* rojo claro */
  border-radius: 0.5rem;
}

.react-calendar__tile.vencido {
  background-color: #e5e7eb !important; /* gris claro */
  color: #9ca3af !important;
  border-radius: 0.5rem;
  pointer-events: none;
}
